In [13]:
import numpy as np
import pandas as pd

df_survey = pd.read_csv('Topic_Survey_Assignment.csv')

df_survey.head(10)

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74